@import "tailwindcss";

@theme {
  --color-win-light:  #ffffff;
  --color-win-grey:   #c0c0c0;
  --color-win-dark:   #808080;
  --color-win-blue:   #000080;
  --color-neon-green: #00c951;

  --font-comic-sans: "Comic Sans MS"  ;
  --font-arial:      "Arial"          ;
  --font-courier:    "New Courier"    ;
  --font-serif:      "Times New Roman";
}

@keyframes marquee {
  0%   {transform: translateX( 100cqw);}
  100% {transform: translateX(-100%  );}
}

.marquee {
  display:   inline-block;
  animation: marquee 5s linear infinite;
}
