@import "tailwindcss";

@theme {
  --color-win-light: #ffffff;
  --color-win-grey:  #c0c0c0;
  --color-win-dark:  #808080;

  --font-sans:    "Comic Sans MS";
  --font-arial:   "Arial";
  --font-courier: "New Courier";
  --font-serif:   "Times New Roman";
}

@keyframes marquee {
  0%   {transform: translateX(100%);}
  100% {transform: translateX(-100%);}
}

.animate-marquee {
  display: inline-block;
  animation: marquee 15s linear infinite;
}
